{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media (min-width: 768px) { /* Tablet & Desktop */
    .break.flex-wrap > div {
      flex: 1 1 25% !important;  /* 4 items per row */
      max-width: 25% !important;
    }
  }
  @media (max-width: 767px) { /* Tablet & Desktop */
    .break.flex-wrap > div {
      flex: 1 1 50% !important;  /* 4 items per row */
      max-width: 50% !important;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}
    </div>

    <div
      class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      id="ProductGridContainer"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t -}}
              <br>
              {{
                'sections.collection_template.use_fewer_filters_html'
                | t: link: collection.url, class: 'underlined-link link'
              }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div
          id="product-grid"
          data-id="{{ section.id }}"
          class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
        >
          <div class="loading-overlay gradient"></div>

          <div class="flex flex-row pb-20 justify-center" style="width: 100%;">
            <div style="width: 100%; max-width: 1330px;" class="flex flex-col">
              <div>
                <div class="flex flex-wrap break">
                  {%- for product in collection.products -%}
                    {% assign lazy_load = false %}
                    {%- if forloop.index > 2 -%}
                      {%- assign lazy_load = true -%}
                    {%- endif -%}

                    {%- liquid
                      assign card_product = product
                      assign media_aspect_ratio = section.settings.image_ratio
                      assign image_shape = section.settings.image_shape
                      assign show_secondary_image = section.settings.show_secondary_image
                      assign show_vendor = section.settings.show_vendor
                      assign show_rating = section.settings.show_rating
                      assign lazy_load = lazy_load
                      assign skip_styles = skip_card_product_styles
                      assign quick_add = section.settings.quick_add
                      assign section_id = section.id
                    -%}

                    <div
                      style="flex: 1 1 50%; max-width: 50%;"
                      class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} flex px-4 py-1.5 flex-col"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};flex: 1 1 50%; max-width: 50%;"
                      {% endif %}
                    >
                      <div style="height: 100%;" class="flex flex-row pb-2">
                        <div style="flex: 1 1 0%;" class="flex flex-col">
                          <div style="flex: 1 1 0%; height: 100%;" class="flex relative flex-col">
                            <div role="button" style="height: 100%;" class="flex">
                              <div style="flex: 1 1 0%;" class="flex flex-col">
                                <div
                                  style="flex: 1 1 0%; width: 100%;"
                                  class="flex relative items-center justify-center flex-col"
                                >
                                  <div style="width: 100%;" class="flex flex-row">
                                    {%- if card_product.featured_media -%}
                                      <div
                                        style="width: 100%;"
                                        class="relative {% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}"
                                      >
                                        <div
                                          class="media media--transparent media--hover-effect"
                                          style="width: 100%; aspect-ratio: 0.8 / 1;"
                                        >
                                          {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                                          <img
                                            srcset="
                                              {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                              {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                              {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                              {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                              {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                              {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                              {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                                            "
                                            src="{{ card_product.featured_media | image_url: width: 533 }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                            alt="{{ card_product.featured_media.alt | escape }}"
                                            class="motion-reduce"
                                            {% unless lazy_load == false %}
                                              loading="lazy"
                                            {% endunless %}
                                            width="{{ card_product.featured_media.width }}"
                                            height="{{ card_product.featured_media.height }}"
                                          >
                                          {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                                          {%- if card_product.media[1] != null and show_secondary_image -%}
                                            <img
                                              srcset="
                                                {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                                {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                                {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                                                {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                                                {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                                                {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                                                {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                                              "
                                              src="{{ card_product.media[1] | image_url: width: 533 }}"
                                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                              alt=""
                                              class="motion-reduce"
                                              loading="lazy"
                                              width="{{ card_product.media[1].width }}"
                                              height="{{ card_product.media[1].height }}"
                                            >
                                          {%- endif -%}
                                        </div>
                                      </div>
                                    {%- endif -%}
                                  </div>
                                  <div style="flex: 1 1 0%;" class="flex flex-col">
                                    <div style="left: 10px; bottom: 10px;" class="flex flex-col absolute"></div>
                                  </div>
                                </div>
                                <div style="flex: 1 1 0%; padding-top: 5px;" class="flex mb-2 flex-col">
                                  <div class="flex flex-col">
                                    <div class="body6 font-light body6">
                                      <span>
                                        <a href="{{ card_product.url }}" class="text-3xs font-light full-unstyled-link">
                                          <h3>{{ card_product.title | escape }}</h3>
                                        </a>
                                      </span>
                                    </div>
                                  </div>
                                  <div class="flex gap-1 flex-wrap items-center flex-row">
                                    {% render 'price',
                                      product: card_product,
                                      price_class: '',
                                      show_compare_at_price: true
                                    %}
                                  </div>
                                </div>
                                <a
                                  href="{{ card_product.url }}"
                                  class="absolute start-0 top-0 -z-50 h-0 w-0 overflow-hidden"
                                  style="z-index: 0; height: 100%; width: 100%;"
                                ></a>
                              </div>
                            </div>
                            <a
                              href="{{ card_product.url }}"
                              class="absolute start-0 top-0 -z-50 h-0 w-0 overflow-hidden"
                            ></a>
                          </div>
                          <div style="flex: 1 1 0%;" class="flex flex-col">
                            <div style="flex: 1 1 0%; padding-top: 6px;" class="flex justify-end flex-col">
                              {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
                              {% if quick_add == 'standard' %}
                                <div class="quick-add no-js-hidden">
                                  {%- liquid
                                    assign qty_rules = false
                                    if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                                      assign qty_rules = true
                                    endif
                                  -%}
                                  {%- if card_product.variants.size > 1 or qty_rules -%}
                                    <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                                      <button
                                        id="{{ product_form_id }}-submit"
                                        type="submit"
                                        name="add"
                                        class="btn relative flex btn-outline justify-center btn-xs btn-outline-primary rounded-md text-3xs font-semibold quick-add__submit button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                                        aria-haspopup="dialog"
                                        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                                        data-product-url="{{ card_product.url }}"
                                        style="border-color: rgb(0, 0, 0);"
                                      >
                                        {{ 'products.product.choose_options' | t }}
                                        {%- if horizontal_quick_add -%}
                                          <span class="icon-wrap">
                                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                                          </span>
                                        {%- endif -%}
                                        {%- render 'loading-spinner' -%}
                                      </button>
                                    </modal-opener>
                                    <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                                      <div
                                        role="dialog"
                                        aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                                        aria-modal="true"
                                        class="quick-add-modal__content global-settings-popup"
                                        tabindex="-1"
                                      >
                                        <button
                                          id="ModalClose-{{ card_product.id }}"
                                          type="button"
                                          class="quick-add-modal__toggle"
                                          aria-label="{{ 'accessibility.close' | t }}"
                                        >
                                          {{- 'icon-close.svg' | inline_asset_content -}}
                                        </button>
                                        <div
                                          id="QuickAddInfo-{{ card_product.id }}"
                                          class="quick-add-modal__content-info"
                                        ></div>
                                      </div>
                                    </quick-add-modal>
                                  {%- else -%}
                                    <product-form data-section-id="{{ section.id }}">
                                      {%- form 'product',
                                        card_product,
                                        id: product_form_id,
                                        class: 'form',
                                        novalidate: 'novalidate',
                                        data-type: 'add-to-cart-form'
                                      -%}
                                        <input
                                          type="hidden"
                                          name="id"
                                          value="{{ card_product.selected_or_first_available_variant.id }}"
                                          class="product-variant-id"
                                          {% if card_product.selected_or_first_available_variant.available == false %}
                                            disabled
                                          {% endif %}
                                        >
                                        <button
                                          id="{{ product_form_id }}-submit"
                                          type="submit"
                                          name="add"
                                          class="btn relative flex btn-outline justify-center btn-xs btn-outline-primary rounded-md text-3xs font-semibold quick-add__submit button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                                          aria-haspopup="dialog"
                                          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                                          aria-live="polite"
                                          style="border-color: rgb(0, 0, 0);"
                                          data-sold-out-message="true"
                                          {% if card_product.selected_or_first_available_variant.available == false %}
                                            disabled
                                          {% endif %}
                                        >
                                          <span>
                                            {%- if card_product.selected_or_first_available_variant.available -%}
                                              {{ 'products.product.add_to_cart' | t }}
                                            {%- else -%}
                                              {{ 'products.product.sold_out' | t }}
                                            {%- endif -%}
                                          </span>
                                          <span class="sold-out-message hidden">
                                            {{ 'products.product.sold_out' | t }}
                                          </span>
                                          {%- if horizontal_quick_add -%}
                                            <span class="icon-wrap">
                                              {{- 'icon-plus.svg' | inline_asset_content -}}
                                            </span>
                                          {%- endif -%}
                                          {%- render 'loading-spinner' -%}
                                        </button>
                                      {%- endform -%}
                                    </product-form>
                                  {%- endif -%}
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {%- assign skip_card_product_styles = true -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
